

/*=========================== index.html css ==================================*/
#top {

	border-style: solid;
	border-color: #26c6da;
	border-width: 10px;
	opacity: .7;
}

h1 {
	color: #1a237e;
	text-align: center;
	font-family: Righteous, Arial;
	font-style: oblique;
}

h4 {
	color: #1a237e;
	text-align: center;
	font-family: Muli, Arial;
	font-style: oblique;}
}

.container	{
	padding: 10px;
	background-color: #26c6da;
}


p  {
	text-align: center;
	color: #009688;
}

.card-action	{
	text-align: center;
}

#picture {
	margin-top: 20px;
	margin-bottom: 15px;
	background-color: #26c6da;
}

/*=====================  quiz.html css  ===============================*/

#qBox{
	text-align: center;
	font-family: Muli;
	background-color: white;
}

#heading{
	text-align: center;
	border-style: solid;
	border-color: #26c6da;
	border-width: 10px;
	font-family: Righteous, Muli;
	font-style: oblique;
	padding: 15px;
	color: #1a237e;
	opacity: .7;
}

/*//The following is the CSS for the quiz page*/

#quizPage{
font-family: Muli;
border-width: 10px;
border-style: solid;
border-color: #26c6da;
background-color: #fafafa;
padding: 15px;
display: none;
}


/*q id is assigned to the questions, radio buttons and answers*/
#q{text-align: center;
color: #1a237e;}

/*This command changes the color of the radio buttons and yes/no*/
label{color: #1a237e;}




/*===============================  paralllax ====================================*/

.parallax-container {
      height: 800px;
    }